<html>
	<head>
		<link href = "static/css/mombday.css" rel = "stylesheet"/>
		<style>
			body {font-family: sans-serif;}
		</style>


		<body>
			
			<h1>HAPPY BIRTHDAY MOMMY!!</h1>

			<h2><strong><font color="#FF0066">I LOVE YOU SO MUCH!</font></strong>
			<p><font color="#4747FF">For your birthday, I created this web page. Its for you!! How it works, is you can enter a date from 1990 until 2014, and a memory I have with you will show up! I have so many great memories, and I am so excited to create so many more! Thanks for being such a wonderful mommy! </font></p>

			<form action="/memory">
			<label for="year"><font color="#FF3300">Here you can type any year between 1990 and 2014, and then press that submit botton</font></label>
			<input type="text" name="year" />
			<input type="submit">
			</form>
			<img src="../static/img/momme.jpg" alt="some text" width=2048 height=1536></img>
			
		</body>
</html>


